/* Page Styles */

body {
  font-family: "Lato", sans-serif;
  color: #676858;
  font-weight: 300;
}

hr {
  background-color: #7d97ad;
  border: none;
  height: 3.5px;
  margin-bottom: 3rem;
}

html {
  font-size: 14px;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.text-muted {
  color: #bcbbbb;
}

.imgbox:hover {
  opacity: 0.3;
  cursor: pointer;
}

/* Featured Image Borders */

.project-main img {
  border: 1px solid #f0f5f5;
}

/* Text Media Queries */

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
