body {
  font-family: 'Lato', sans-serif;
  color: #676858;
  font-weight: 300;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.imgbox:hover { opacity: 0.3;
  filter: alpha(opacity=30);
}

a {
  padding-bottom: 20px;
}

a:active {
  color: violet;
}

#heading {
  text-shadow: -5px -8px 10px #222;
}
